body {
    font-family: sans-serif;
    font-size: 30px;
    background-color: #000;
    text-align: center;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  width: 50%;
  height: 50%;
}

#behindtext {
    position: absolute;
    left: 50%;
}
#textbox {
    position: relative;
    left: -50%;
    background: #aaaaaa;
    background: rgba(255,255,255, .5);
     border: solid #cccccc 2px ;
    border: solid rgba(255,255,255, .2) 2px ;
}