<!DOCTYPE html>
<html>
<head>
    <title>
        MadisonRainYo
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="bg">
        <img src="{{ url_for('static', filename=img) }}" alt="">
        
    </div>
    <div id="behindtext">
        <div id="textbox">
            Want to know if it's raining in Madison?<br>
            Send a <span class="yo">yo</span> to <span class="mry">MadisonRainYo</span>.
        </div>
    </div>
</body>
</html>